
<h1> Lanjaro </h1>

<ul>
  <li><a href="/Play Scissors"> Play the Scissors tool </a></li>

  <li><a href="/Play Paper"> Play the Paper tool </a></li>

  <li><a href="/Play Rock"> Play the Rock tool </a></li>
</ul>  
